# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script run during project building
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / Coverage reports
htmlcov/
.tox/
.nosetestsrc
.activate
.cache
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.gmo

# Local databases and logs
*.log
*.db
*.sqlite
*.sqlite3
*.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# IDEs/Editors
.idea/
.vscode/
*.swp
*.swo
*~

# WiX Toolset / Installer builds
installer/*.wixobj
installer/*.wixpdb
installer/*.msi
installer/AppFiles.wxs
